@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: #251F24;
  margin: 0;
  /* writing-mode: vertical-lr; */
  /* margin: 10px 10px 10px 10px; */ /* Empleando esta manera lo hacemos en modo físico; se obtiene un resultado similar sí */
  /* Para obtener el mismo resultado, con el modo lógico usamos dos propiedades: margin-inline: ; y margin-block: ; */
  /* margin-inline: 100px; */ /* En m.f. equivale a margin: 0 100px; */
  /* margin-block: 100px; */ /* En m.f. equivale a margin: 100px 0; */
  /* A continuación con propiedades lógicas para manejar el flow: */
  /* margin-block-start: 50px;
  margin-block-end: 50px; */
  /* margin-block: ; */
  /* font-family: charter; */
}

a {
  color: var(--white30);
}

header {
  /* Se puede volver a establecer un nuevo valor para la "custom property"
  '--white10' que aplicará solo a este selector */
  /* --white10: red; */
  font-size: 14px;
  color: var(--white);
}

header li {
  color: var(--white20);
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

h1, h2, h3 {
  /* font-weight: normal; */
}

h1 {
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
  /* text-decoration: underline; */
  /* font-size: 3.75em; */
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

pre {
  background: var(--white10);
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.png'); */
  /* un color, por ejemplo, blanco, puede expresarse como una función rgba() */
  /* linear-gradient(to top, red, blue) degradado va de abajo hacia arriba y de rojo a azul */
  /* background: red url('../images/pattern.png'); */
  /* background-repeat: no-repeat; La imagen no se repetirá, util para cuando se trata de una fotografía */
  /* background-position: left 50px bottom -50px; posicionará la imagen en alguna combinación de los ejes X e Y,
   o hasta en el centro. */
  /* background-size: cover; Expandirá al 100% sin perder la proporción */
  height: 350px;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
}

/* CSS Counters: "counter()" reset, increment, etc. */
.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

/* Empleamos los pseudo elementos (::after, ::before, etc) para agregar contenido que no afectará la accesibilidad
de nuestra web, como sucedería si lo agregamos dentro de la semantica HTML */
.section-content h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
}

blockquote {
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--white10);
  border-radius: 8px;
}

/* ::selection {
  background: green;
} */

.main hr {
  display: none;
}